@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
  --primary-color: #52489c;
  --secondary-color: #59c3c3;
  --accent-color: #f45b69;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: 'Mooli', sans-serif;
}

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
  margin: 0;
  background-color: var(--text-light);
  color: var(--text-dark);
}

header {
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
  padding: 1rem;
}

h1 {
  font-family: var(--secondary-font);
}

#menu-button {
  background: none;
  border: none;
  font-size: 1em;
  color: var(--text-light);
  margin: 1rem;
}

nav {
  display: none;
  flex-direction: column;
}

nav a {
  color: var(--text-light);
  text-decoration: none;
  margin: 0.5rem 0;
}

main {
  padding: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.gallery img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

footer {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 1rem;
  color: var(--text-light);
}

/* Responsive Layout */
@media screen and (min-width: 700px) {
  nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  #menu-button {
    display: none;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
