@media screen and (min-width: 700px) {
    header {
      grid-template-columns: 1fr 2fr;
      padding: 20px 40px;
    }
  
    #head_logo {
      justify-self: left;
      width: 150px;
    }
  
    nav {
      justify-content: flex-end;
    }
  
    #home_content {
      grid-template-columns: 1fr 1fr;
      padding: 50px;
      gap: 30px;
    }
  
    #hero h1 {
      font-size: 2em;
      top: 100px;
    }
  
    #hero img {
      height: auto;
      object-fit: cover;
    }
  
    footer {
      grid-template-columns: 1fr 1fr;
      text-align: left;
      padding: 20px 40px;
    }
  
    #foot_logo {
      margin: 0;
    }
  
    footer p {
      text-align: right;
    }
  
    #social {
      text-align: right;
      padding-top: 0;
    }
  }
  